.bottom {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 0px;
    left: 0px;
    margin: 0px 16px 16px;
}

input, button, p, a, span {
    font-family: Lucida Sans, sans-serif;
}

.btn {
    margin: .25rem .125rem;
    padding: .375rem .75rem;
    cursor: pointer;
    border: none;
    border-radius: .25rem;
}
.btn:hover {background-color: #d3d4d5}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-column {flex-direction: column}

/* Picture Container */
.main {height: calc(100vh - 250px);}
.pictureContainer {
    border-radius: 13px;
    overflow: hidden;
    max-height: calc(100vh - 250px);
    margin: 0 13px;
    width: auto;
}
.pictureContainer.rotated {height: calc(100vh - 200px);}

#picture {
    max-width: 100%;
    max-height: calc(100vh - 250px);
    border-radius: 13px;
    width: auto;
    height: auto;
}
#picture.rotated {max-width: calc(100vh - 200px);}

.navigate-btn {
    cursor: pointer;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: none;
    background-color: rgba(111, 193, 198, 0.5) !important;
}

.navigate-btn:hover {background-color: #6fc1c6 !important;}

/* Directory selector */
.directories {min-width: 300px;}
.selector {width: 100%;}
.selectorTitle {min-width: 55px;}
.selectorBtn {margin-left: 8px;}
.counter {
    font-weight: bold;
    margin: 0;
}
.counter_pill {
    background-color: #20c997;
    border-radius: 50%;
    padding: 1px 5px;
    margin: 0px 5px;
}

/* Copy Button */
#renameFileDiv {
    text-align: center;
    margin-bottom: 13px;
    display: none;
}
#renameFileDiv.visible {
    display: flex;
}
#renameFileDiv p {
    margin-right:21px;
}

.execute {
    height: 89px;
    width: 144px;
    border-radius: 8px;
    font-size: large;
    color: #fffafa;
    background-color: #2e2e2e;

}
.execute:hover {
    background-color: #fffafa;
    color: #2e2e2e;
}
.execute.disabled {
    opacity: .75;
    cursor: default;
}
.execute.disabled:hover{
    color: #fffafa;
    background-color: #2e2e2e;
}

/* DocEnhance Logo */
.logo {align-items: center;}
.poweredBy {
    color: #fafafa;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

/* Success Message Box */
.alert {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50vw - 200px);
    width: 400px;
    padding: 1em;
}
#success {
    height: 80px;
    top: calc(50vh - 40px);
    background-color: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

#error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    height: 200;
    top: calc(50vh - 100px);
}
.alert.visible {
    display: flex;
}
